div {
    background-color: #eee;
    display: block;
    margin: 20px auto;
    padding: 50px;
    width: 300px;
    left: 100px;
}

h1 {
    display: flex;
    color: blue;
    justify-content: center;
    margin-bottom: 80px;
}